/* Global styles */ 

@font-face {
    font-family:'bitcount';
    src: url('./fonts/BitcountInk.ttf') format('truetype'); 
}

* {
    box-sizing: border-box;
}

:root{
--yellow:rgb(238, 205, 21);
--teal: rgb(7, 82, 82);
}

body { 
    background-color: rgb(8, 112, 112);
    font-family: Consolas, 'Lucida Console', monospace;
    font-size: 1.2em;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: square;
}

ul li::marker{
    color: var(--yellow);
}

img {
    transition: transform 0.3s; 
    height: 120px;
    width: auto;
    padding: 10px;
}

h1, h2{
    text-align: center;
    font-family: 'bitcount',sans-serif;
}

h1{
    flex:1;
    font-size: 2.1em;
}

h2{
    font-size:1.8em;
}

h3{
    color: var(--yellow);
    font-size: 1em;
}

#results h2{
    font-size:1.3em;
}

/* Sections */

.wrap{
    margin: 10px 80px;
    display:flex;
}

#title{
    padding: 10px 90px;
    background-color: var(--teal);
    display:flex;
}

#newGame,
#funfact{    
    border: 3px dashed red;
    background-color: teal;
    cursor:pointer;
    text-align: center;   
}

#newGame{
    font-family: 'bitcount',sans-serif;
    font-size: 1.3em;
    padding: 10px;
}

#funfact{
    display:flex;
    justify-content: center; 
    align-items: center; 
    font-family: Consolas, 'Lucida Console', monospace;
    color: var(--yellow);
    padding: 15px;
    width: auto;
    height:100px;
}

#newGame, #rules, #results, #funfact,
#yourChoice, #pcChoice,.highlight {
    border-radius: 15px;
}

.highlight {
    animation: pop 0.3s ease-out forwards; 
    border: 1px solid var(--teal);   
    transform: scale(1.2); 
}

#rules {
    flex:1;
    text-align: left;
    background-color: teal;
    border:3px dotted var(--teal);
    font-size: 0.8em;
    padding:0px 20px;
    margin: 10px;
    max-width: 30%;
}

#choices{
    flex:1;
    display: flex;
    min-width: 40%;
}

#pcChoice{
    max-width:30%;
}

#yourChoice,
#pcChoice {
    flex:1;
    border:5px dotted var(--yellow);
    background-color: teal;
    padding: 15px;
    margin: 5px;
}

#yourChoice img,
#pcChoice img{
    padding:15px;
}

#yourChoice img{
    cursor:pointer;
}

#main{
    display:flex;
    flex:1;
    flex-direction: column;
    margin:0 10px;
}

#result{
    flex:1;
    text-align: center;
}

#results{
    display:flex;
    flex:1;
    text-align: left;
    color: var(--yellow);
    background-color: rgb(0, 0, 0);
    border:3px dotted var(--teal);
    font-size: 18px;
    font-family: "Bradley Hand", "Comic Sans MS", cursive;
    color:antiquewhite;
    padding: 10px;
    margin: 10px;
}

table {
    border-collapse: collapse;
    width: auto; 
    margin:40px;
}

th, td {
    padding: 8px 15px;
}

th {
    text-align: left; 
    border-right: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
}

td {
    border-bottom: 1px solid #ccc; 
    text-align: right;
}

tr:last-child th, tr:last-child td {
    border-bottom: none;
}

#win{
    flex:1;
    text-align: center;
    padding:15px;
}

#winner{
    font-family: 'bitcount',sans-serif;
    font-size: 2.2em;
}

#footer{
    font-size: 0.7em;
    background-color: var(--teal);
    padding: 8px;
}

#footer a{
    color:orangered;
}

#footer a:hover{
    color: var(--yellow);
}